#block_messageteacher_output {
    width: 50% !important;
    background-color: #F5F5F5;
    border-radius: 4px;
    border: 1px solid #E3E3E3;
    padding: 2em;
}

.messageteacher_confirm {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
}
